<a href="https://colab.research.google.com/github/sharifashik591/DNN_HousingPrice/blob/main/HousingPrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('HousingPrices.csv')

In [ ]:
df.head()

   YearBuilt  2ndFlrSF  GrLivArea  ...  TotRmsAbvGrd  YrSold  SalePrice
0       2003       854       1710  ...             8    2008     208500
1       1976         0       1262  ...             6    2007     181500
2       2001       866       1786  ...             6    2008     223500
3       1915       756       1717  ...             7    2006     140000
4       2000      1053       2198  ...             9    2008     250000

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   YearBuilt     1460 non-null   int64
 1   2ndFlrSF      1460 non-null   int64
 2   GrLivArea     1460 non-null   int64
 3   FullBath      1460 non-null   int64
 4   HalfBath      1460 non-null   int64
 5   BedroomAbvGr  1460 non-null   int64
 6   TotRmsAbvGrd  1460 non-null   int64
 7   YrSold        1460 non-null   int64
 8   SalePrice     1460 non-null   int64
dtypes: int64(9)
memory usage: 102.8 KB

In [ ]:
data=df.values

In [ ]:
x=data[:,0:8]
y=data[:,8]

Build Model

In [ ]:
import keras
from keras.layers import Dense
from keras.callbacks import EarlyStopping

model=keras.Sequential()
model.add(Dense(units=8,activation='relu',input_shape=(8,)))
model.add(Dense(units=8,activation='relu'))
model.add(Dense(units=1))

In [ ]:
model.compile(optimizer='adam',
              loss='mean_squared_error',
              )

In [ ]:
model_history=model.fit(x,y,
          epochs=100,
          callbacks=[EarlyStopping(patience=5)])

In [ ]:
test_data=np.array([2003,854,1710,2,1,3,8,2008])
test_data.shape

(8,)

In [ ]:
test_data=test_data.reshape(1,8)
test_data.shape

(1, 8)

In [ ]:
print(model.predict(test_data,batch_size=1))

[[183931.33]]

In [ ]:
model.save('housingprice.h5')

In [ ]:
lod_model=keras.models.load_model('housingprice.h5')

In [ ]:
print(lod_model.predict(test_data,batch_size=1))

[[183931.33]]